
/* ---------------------------------------------------------------------------------------
 * BREAKPOINTS
 * ---------------------------------------------------------------------------------------
 */

/* Large (1440px) */

@media screen and (max-width: 90rem) {

    /* Elements
     * -----------------------------------------------------------------------------------
     */

    small { font-size: 1rem; }

    /* Classes
     * -----------------------------------------------------------------------------------
     */

    /* Footer */

    .footer .link-list { border-right: none; }

    /* Utilities
     * -----------------------------------------------------------------------------------
     */

    /* Grid */

    .u-lg-gc\3A 1\/13 { grid-column: 1 / 13; }
    .u-lg-gc\3A 4\/11 { grid-column: 4 / 11; }
    .u-lg-gc\3A 4\/12 { grid-column: 4 / 12; }

    /* Text */

    .u-lg-ta\3A c { text-align: center; }

}

/* Medium (1120px) */

@media screen and (max-width: 70rem) {

    /* Utilities
     * -----------------------------------------------------------------------------------
     */

    /* Grid */

    .u-md-gc\3A 1\/5 { grid-column: 1 / 5; }
    .u-md-gc\3A 1\/6 { grid-column: 1 / 6; }
    .u-md-gc\3A 5\/13 { grid-column: 5 / 13; }
    .u-md-gc\3A 6\/13 { grid-column: 6 / 13; }

    .u-md-rg\3A 10 { row-gap: calc(var(--grid-unit) * 10); }
    .u-md-rg\3A 20 { row-gap: calc(var(--grid-unit) * 20); }

    /* Margin */

    .u-md-mr\3A 0 { margin-right: 0; }
    .u-md-mb\3A 8 { margin-bottom: calc(var(--grid-unit) * 8); }
    .u-md-mb\3A 10 { margin-bottom: calc(var(--grid-unit) * 10); }

    /* Padding */

    .u-md-pl\3A 0 { padding-left: 0; }

}

/* Small (688px) */

@media screen and (max-width: 43rem) {

    /* Elements
     * -----------------------------------------------------------------------------------
     */

    small { font-size: 0.925em; }

    /* Classes
     * -----------------------------------------------------------------------------------
     */

    /* Footer */

    .footer {
        margin-top: calc(var(--grid-unit) * 10);
        row-gap: calc(var(--grid-unit) * 8);
    }

    .footer .nav { column-gap: calc(var(--grid-unit) * 4); }

    .footer .nav-list {
        margin-left: 0;
        padding-left: calc(var(--grid-unit) * 0.6);
    }

    .footer .nav-item > a,
    .footer .link-item > a {
        margin: calc(var(--grid-unit) * 0.75) 0;
        padding: calc(var(--grid-unit) * 0.75) calc(var(--grid-unit) * 1.5);
    }

    .footer .nav-item > a.isActive::before {
        border-width: 0 0 0 calc(var(--grid-unit) * 0.6);
        height: calc(100% - calc(var(--grid-unit) * 2));
        left: calc(var(--grid-unit) * -0.6);
    }

    /* End */

    .headshot {
        height: calc(var(--grid-unit) * 60);
        object-position: 50% 85%;
    }

    /* Utilities
     * -----------------------------------------------------------------------------------
     */

    /* Grid */

    .u-sm-gc\3A 1\/13 { grid-column: 1 / 13; }
    .u-sm-rg\3A 15 { row-gap: calc(var(--grid-unit) * 15); }

    /* Margin */

    .u-sm-mb\3A 0 { margin-bottom: calc(var(--grid-unit) * 0); }
    .u-sm-mb\3A 6 { margin-bottom: calc(var(--grid-unit) * 6); }
    .u-sm-mb\3A 12 { margin-bottom: calc(var(--grid-unit) * 12); }

    /* Padding */

    .u-sm-pt\3A 2 { padding-top: calc(var(--grid-unit) * 2); }
    .u-sm-pt\3A 4 { padding-top: calc(var(--grid-unit) * 4); }
    .u-sm-pl\3A 0 { padding-left: 0; }
    .u-sm-pr\3A 0 { padding-right: 0; }

}

/* X-small (512px) */

@media screen and (max-width: 32rem) {
    
    .footer .nav-list { display: none; }

    .footer .link-list {
        border-width: 0 0 1px 0;
        margin-left: 0;
    }


     /* Utilities
     * -----------------------------------------------------------------------------------
     */

    /* Grid */

    .u-xs-gc\3A 1\/7 { grid-column: 1 / 7; }
    .u-xs-gc\3A 1\/4 { grid-column: 1 / 4; }
    .u-xs-gc\3A 4\/7 { grid-column: 4 / 7; }

    .u-xs-pb\3A 2 { padding-bottom: calc(var(--grid-unit) * 2);}
    .u-xs-pb\3A 4 { padding-bottom: calc(var(--grid-unit) * 4);}
}