
/* ---------------------------------------------------------------------------------------
 * BREAKPOINTS
 * ---------------------------------------------------------------------------------------
 */

/* Large (1440px) */

@media screen and (max-width: 90rem) {

    /* Elements
     * -----------------------------------------------------------------------------------
     */

    body { padding: 0 calc(var(--grid-unit) * 8); }
    h1 { font-size: var(--ms-root-step-5); }
    h2 { font-size: var(--ms-root-step-3); }
    h3, .h3 { font-size: var(--ms-root-step-2); }
    small { font-size: 1rem; }

    footer,
    header {
        --grid-unit: 0.225256em;
        font-size: var(--ms-root-step-1);
    }

    main {
        --grid-unit: 0.208333em;
        font-size: var(--ms-root-step-2);
    }

    /* Classes
     * -----------------------------------------------------------------------------------
     */

    /* Footer */

    .footer .link-list { border-right: none; }

    /* Header */

    .header .nav-list { margin-left: calc(var(--grid-unit) * -3); }

    .header .nav-item > a,
    .header .link-item > a { padding: calc(var(--grid-unit) * 2) calc(var(--grid-unit) * 3); }

    .header .nav-item > a.isActive::before { width: calc(100% - calc(var(--grid-unit) * 6)); }

    /* End */

    .link-item.name {
        min-height: 4.092543em;
        padding: 0.324805em 0 0 0.324805em;
    }

    .sidebar {
        --grid-unit: 0.225255em;
        font-size: 0.924875em;
    }

    .subtitle { font-size: var(--ms-root-step-3); }

    /* Utilities
     * -----------------------------------------------------------------------------------
     */

    /* Grid */

    .u-lg-gc\3A 1\/7 { grid-column: 1 / 7; }
    .u-lg-gc\3A 1\/11 { grid-column: 1 / 11; }
    .u-lg-gc\3A 1\/12 { grid-column: 1 / 12; }
    .u-lg-gc\3A 1\/13 { grid-column: 1 / 13; }
    .u-lg-gc\3A 4\/11 { grid-column: 4 / 11; }
    .u-lg-gc\3A 4\/12 { grid-column: 4 / 12; }
    .u-lg-gc\3A 8\/13 { grid-column: 8 / 13; }

    /* Text */

    .u-lg-ta\3A c { text-align: center; }

}

/* Medium (1120px) */

@media screen and (max-width: 70rem) {

    /* Elements
     * -----------------------------------------------------------------------------------
     */

    body { padding: 0 calc(var(--grid-unit) * 6); }

    /* Utilities
     * -----------------------------------------------------------------------------------
     */

    /* Grid */

    .u-md-gc\3A 1\/5 { grid-column: 1 / 5; }
    .u-md-gc\3A 1\/6 { grid-column: 1 / 6; }
    .u-md-gc\3A 1\/12 { grid-column: 1 / 12; }
    .u-md-gc\3A 1\/13 { grid-column: 1 / 13; }
    .u-md-gc\3A 5\/13 { grid-column: 5 / 13; }
    .u-md-gc\3A 6\/13 { grid-column: 6 / 13; }

    .u-md-grs\3A 3 { grid-row-start: 3; }
    .u-md-rg\3A 10 { row-gap: calc(var(--grid-unit) * 10); }
    .u-md-rg\3A 15 { row-gap: calc(var(--grid-unit) * 15); }
    .u-md-rg\3A 20 { row-gap: calc(var(--grid-unit) * 20); }

    /* Margin */

    .u-md-mr\3A 0 { margin-right: 0; }
    .u-md-mb\3A 2 { margin-bottom: calc(var(--grid-unit) * 2); }
    .u-md-mb\3A 8 { margin-bottom: calc(var(--grid-unit) * 8); }
    .u-md-mb\3A 10 { margin-bottom: calc(var(--grid-unit) * 10); }
    .u-md-mb\3A 12 { margin-bottom: calc(var(--grid-unit) * 12); }

    /* Padding */

    .u-md-pl\3A 0 { padding-left: 0; }
    .u-md-pr\3A 0 { padding-right: 0; }

}

/* Small (640px) */

@media screen and (max-width: 40rem) {

    /* Elements
     * -----------------------------------------------------------------------------------
     */

    body { padding: 0 calc(var(--grid-unit) * 4); }

    h1 { font-size: var(--ms-root-step-3); }
    h2 { font-size: var(--ms-root-step-2); }
    h3, .h3 { font-size: var(--ms-root-step-1); }
    small { font-size: 0.925em; }

    footer,
    header {
        --grid-unit: 0.3125em;
        font-size: 1rem;
    }

    main {
        --grid-unit: 0.225255em;
        font-size: var(--ms-root-step-1);
    }

    /* Classes
     * -----------------------------------------------------------------------------------
     */

    .button {
        padding:
            calc(var(--grid-unit) * 1.7)
            calc(var(--grid-unit) * 3)
            calc(var(--grid-unit) * 1.5) !important;
    }

    /* Footer */

    .footer {
        margin-top: calc(var(--grid-unit) * 10);
        row-gap: calc(var(--grid-unit) * 8);
    }

    .footer .nav { column-gap: calc(var(--grid-unit) * 4); }

    .footer .nav-list {
        margin-left: 0;
        padding-left: calc(var(--grid-unit) * 0.6);
    }

    .footer .link-list { margin-left: calc(var(--grid-unit) * -1.5); }

    .footer .nav-item > a,
    .footer .link-item > a { padding: calc(var(--grid-unit) * 1.5); }

    .footer .nav-item > a.isActive::before {
        border-width: 0 0 0 calc(var(--grid-unit) * 0.6);
        height: calc(100% - calc(var(--grid-unit) * 3.5));
        left: calc(var(--grid-unit) * -0.6);
    }

    /* End */

    .fleuron li:not(:last-child) { margin-bottom: calc(var(--grid-unit) * 4); }

    .header,
    .footer { column-gap: calc(var(--grid-unit) * 4); }

    /* Header */

    .header { margin-bottom: calc(var(--grid-unit) * 10); }

    .header .nav {
        border-bottom: 1px solid var(--color-gray-light);
        padding: calc(var(--grid-unit) * 2) 0;
    }

    .header .nav.isExpanded {
        border-bottom: 1px solid var(--color-gray-light);
        padding-bottom: calc(var(--grid-unit) * 1.5);
    }

    .header .nav-list {
        flex-direction: column;
        flex-grow: 1;
        padding-left: calc(var(--grid-unit) * 0.6);
        margin-left: 0;
    }

    .header .link-list {
        align-items: center;
        padding-right: calc(var(--grid-unit) * 2.1);
    }

    .header .nav-item > a,
    .header .link-item > a { padding: calc(var(--grid-unit) * 1.5); }

    .header .nav-item > a.isActive::before {
        border-width: 0 0 0 calc(var(--grid-unit) * 0.6);
        bottom: auto;
        left: calc(var(--grid-unit) * -0.6);
        height: calc(100% - calc(var(--grid-unit) * 3.5));
    }

    /* End */

    .headshot {
        height: calc(var(--grid-unit) * 60);
        object-position: 50% 85%;
    }

    .illustration {
        --offset: 13.541666%;
        --multiplier: 1.25;
    }

    .illustration > picture:first-child { top: calc(var(--grid-unit) * 30); }

    .link-item.name {
        min-height: 4.189698em;
        padding: 0.337878em 0 0 0.337878em;
    }

    .logo { margin: calc(var(--grid-unit) * 10) 0 calc(var(--grid-unit) * 6); }
    .quote { padding: 0 calc(var(--grid-unit) * 2); }

    .sidebar {
        --grid-unit: 0.3125em;
        font-size: 0.720818em;
    }

    .sidebar-panel { padding: calc(var(--grid-unit) * 6); }
    .subtitle { font-size: var(--ms-root-step-2); }

    /* Utilities
     * -----------------------------------------------------------------------------------
     */

    /* Grid */

    .u-sm-gc\3A 1\/13 { grid-column: 1 / 13; }
    .u-sm-rg\3A 10 { row-gap: calc(var(--grid-unit) * 10); }
    .u-sm-rg\3A 15 { row-gap: calc(var(--grid-unit) * 15); }

    /* Margin */

    .u-sm-mb\3A 0 { margin-bottom: calc(var(--grid-unit) * 0); }
    .u-sm-mb\3A 6 { margin-bottom: calc(var(--grid-unit) * 6); }
    .u-sm-mb\3A 8 { margin-bottom: calc(var(--grid-unit) * 8); }
    .u-sm-mb\3A 10 { margin-bottom: calc(var(--grid-unit) * 10); }
    .u-sm-mb\3A 12 { margin-bottom: calc(var(--grid-unit) * 12); }
    .u-sm-mb\3A -2 { margin-bottom: calc(var(--grid-unit) * -2); }

    /* Padding */

    .u-sm-pt\3A 2 { padding-top: calc(var(--grid-unit) * 2) !important; }
    .u-sm-pl\3A 0 { padding-left: 0; }
    .u-sm-pr\3A 0 { padding-right: 0; }

}