/* ---------------------------------------------------------------------------------------
 * CLASSES
 * ---------------------------------------------------------------------------------------
 */

.copyright {
    color: var(--color-gray);
    display: flex;
    justify-content: center;
}

.credentials {
    color: var(--color-gray);
    font-size: 0.720969em;
    font-weight: normal;
    letter-spacing: 0.025em;
}

/* Footer */

.footer {
    border-top: 1px solid var(--color-gray-light);
    margin-top: calc(var(--grid-unit) * 30);
    row-gap: calc(var(--grid-unit) * 12);
}

.footer .nav {
    column-gap: 4.166666%;
    grid-template-columns: repeat(6, 1fr);
}

.footer ul { margin-left: calc(var(--grid-unit) * -2); }

.footer .nav-list,
.footer .link-list {
    flex-direction: column;
    border-right: 1px solid var(--color-gray-light);
}

.footer .nav-item > a,
.footer .link-item > a { padding: calc(var(--grid-unit) * 2); }

.footer .nav-item > a.isActive::before {
    border-width: 0 0 0 var(--grid-unit);
    bottom: auto;
    height: calc(100% - calc(var(--grid-unit) * 4.5));
    left: calc(var(--grid-unit) * -1);
}

/* End */

.illustration {
    --offset: 23.4375%;
    --multiplier: 1;
    background-color: var(--color-background);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.illustration > picture:first-child,
.illustration > picture:last-child {
    opacity: 0.1;
    mix-blend-mode: multiply;
    position:absolute;
    z-index: -1;
}

.illustration > picture:first-child {
    left: 0;
    top: 0;
    transform: scale(var(--multiplier)) scaleX(-1) translateX(var(--offset));
}

.illustration > picture:last-child {
    bottom: 0;
    right: 0;
    transform: scale(var(--multiplier)) translateX(var(--offset));
}

.link-item.name {
    font-size: 1.387333em;
    font-weight: bold;
    line-height: 1.25;
    min-height: 3.964440em;
    padding: 0.300336em 0 0 0.300336em;
}

.quote {
    align-self: center;
    font-style: italic;
    z-index: 2;
}

.quote [class*="-word"]::before {
    color: var(--color-background-dark);
    font-size: 4.68225em;
    line-height: 0;
    position: absolute;
    z-index: -1;
}

.quote .first-word::before {
    content: '“';
    top: 0.25em;
    left: -0.25em;
}

.quote .last-word::before {
    content: '”';
    top: 0.5em;
    right: -0.2em;
}