@import "globals.css";

html {
    display: grid;
    place-items: center;
}

blockquote { margin: 0; }

body {
    display: grid;
    grid-template-rows: repeat(3, auto);
    /* padding: 0 calc(var(--grid-unit) * 8); */
    width: min(100%, var(--max-width));
}

img {  max-width: 100%; }

.header,
.footer { 
    display: grid; 
    width: 100%;
}

.header {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.header .logo,
.header .nav { 
    align-self: center;
    justify-self: center;
}

.header .nav { 
    border-top: 1px solid;
    width: 100%; 
}

.header .nav-list { 
    display: flex; 
    flex-wrap: wrap;
}

.header .nav-item > a { 
    display: block;
    padding: calc(var(--grid-unit) * 4);
}

.header .nav-item:first-child  > a { padding-left: 0; }
.header .nav-item:last-child  > a { padding-right: 0; }

.nav-list,
.link-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer {
    border-top: 1px solid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto auto;
}

.footer .copyright {
    display: flex;
    grid-column: 1 / span 3;
    justify-content: center;
}