<footer class="footer">
    <nav class="nav u-pd:4gu u-pdl:0" aria-label="main">
        <ul class="nav-list">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
            <li class="nav-item"><a href="/services">Services</a></li>
            <li class="nav-item"><a href="/policies">Policies</a></li>
            <li class="nav-item"><a href="/policies#covid-19">COVID-19</a></li>
        </ul>
    </nav>
    <ul class="link-list u-bdl:1 u-pd:4gu">
       <li class="link-item">Aemelia Tallen-Whited <span>MSN, MPH, APRN, IBCLC</span></li>
       <li class="link-item"><a href="https://squareup.com/gift/ML4R1SSZJNDAH/order/">Purchase a gift card</a></li>
       <li class="link-item"><a href="https://bellflower.intakeq.com/booking">Book an appointment</a></li>
       <li class="link-item"><a href="mailto:aemelia@bellflowerlactation.com">aemelia@bellflowerlactation.com</a></li>
       <li class="link-item"><a href="tel:+16124295013">(612) 429-5013</a><span>(call or text)</span></li>
    </ul>
    <blockquote class="u-bdl:1 u-pd:4gu u-pdr:0">
        <p>
            The bellflower signifies unwavering love, representing not only the way we feel about our babies,
            but also the steadfast compassion I believe all parents deserve on their personal breastfeeding 
            journeys.
        </p>
    </blockquote>
    <p class="copyright">
        <small>Copyright &copy; 2021 Bellflower Lactation, LLC. All rights reserved.</small>
    </p>
</footer>