<footer class="footer u-g:12">
    <nav class="nav u-d:g u-gc:1/7 u-lg-gc:1/13 u-pt-gc:1/5" aria-label="footer">
        {% include snippets/nav_list.html class="u-gc:1/3 u-xs-gc:1/7 u-pt:6 u-sm-pt:4 u-pt-d:n" %}
        <ul class="link-list u-gc:3/7 u-xs-gc:1/7 u-pt:6 u-sm-pt:4 u-xs-pb:4 u-pt-gc:1/7 u-pt-pr:6">
            <li class="link-item name">Aemelia <span class="u-ws:nw">Tallen-Whited</span>
                <span class="credentials u-d:b u-ws:nw">MSN, MPH, APRN, IBCLC</span>
                <span class="contact u-d:n u-pt-d:b" aria-hidden="true">aemelia@bellflowerlactation.com</span>
                <span class="contact u-d:n u-pt-d:b" aria-hidden="true">(612) 429-5013</span>
            </li>
            <li class="link-item u-pt-d:n">
                <a class="u-ib:event" href="https://bellflower.intakeq.com/booking">Book online</a>
            </li>
            <li class="link-item u-pt-d:n">
                <a class="u-ib:card" href="https://squareup.com/gift/ML5R1SSZJNDAH/order">Buy a gift card</a>
            </li>
            <li class="link-item u-pt-d:n">
                <a class="u-ib:mail" href="mailto:aemelia@bellflowerlactation.com">Email me</a>
            </li>
            <li class="link-item u-pt-d:n">
                <a class="u-ib:call" href="tel:+16124295013">Text me</a>
            </li>
        </ul>
    </nav>
    <blockquote class="quote u-gc:7/13 u-m:0 u-p:r u-lg-gc:1/13 u-lg-ta:c u-pt-gc:5/13">
        <span class="first-word u-p:r">The</span> bellflower signifies unwavering love,
        representing not only the way we feel about our babies, but also the steadfast
        compassion I believe all parents deserve on their personal breastfeeding
        <span class="last-word u-p:r u-ws:nw">journeys.</span>
    </blockquote>
    <p class="copyright u-gc:1/13 u-mt:0 u-ta:c">
        <small>Copyright &copy; 2020-23 Bellflower Lactation, LLC.<wbr> <em class="u-ws:nw">All rights reserved.</em></small>
        <small><a href="https://goo.gl/maps/8tUqmmjQfJAwfTzp8">7650 Currell Blvd. #270, Woodbury, MN 55125</a></small>
        <small><a href="tel:+16124295013">(612) 429-5013</a></small>
    </p>
</footer>
