<footer class="footer">
    <nav class="nav" aria-label="footer">
        <ul class="nav-list">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
            <li class="nav-item"><a href="/services">Services</a></li>
            <li class="nav-item"><a href="/policies">Policies</a></li>
        </ul>
        <ul class="link-list">
            <li class="link-item">Aemelia Tallen-Whited <span>MSN, MPH, APRN, IBCLC</span></li>
            <li class="link-item"><a href="https://bellflower.intakeq.com/booking">Book now</a></li>
            <li class="link-item"><a href="https://squareup.com/gift/ML4R1SSZJNDAH/order/">Purchase a gift card</a></li>
            <li class="link-item"><a href="mailto:aemelia@bellflowerlactation.com">aemelia@bellflowerlactation.com</a></li>
            <li class="link-item"><a href="tel:+16124295013">(612) 429-5013</a> <span>(call or text)</span></li>
        </ul>
    </nav>
    <blockquote class="quote">
        The bellflower signifies unwavering love, representing not only the way we feel about our babies,
        but also the steadfast compassion I believe all parents deserve on their personal breastfeeding
        journeys.
    </blockquote>
    <p class="copyright">
        <small>Copyright &copy; 2021 Bellflower Lactation, LLC. All rights reserved.</small>
    </p>
</footer>