<header class="header u-g:12">
    <div class="u-ctr u-gc:1/13">
        <a class="logo" href="/" aria-label="Bellflower Lactation">
            <picture>
                <source
                    type="image/webp"
                    srcset="/assets/images/bellflower_logo_800w.webp 800w,
                            /assets/images/bellflower_logo_1200w.webp 1200w"
                    sizes="(max-width: 640px) 400px, 1200px"
                >
                <source
                    type="image/png"
                    srcset="/assets/images/bellflower_logo_800w.png 800w,
                            /assets/images/bellflower_logo_1200w.png 1200w"
                    sizes="(max-width: 640px) 400px, 1200px"
                >
                <img
                    alt="Bellflower Lactation"
                    width="1200"
                    height="323"
                    src="/assets/images/bellflower_logo_1200w.png"
                >
            </picture>
        </a>
    </div>
    <nav class="nav" aria-label="main">
        {% include snippets/nav_list.html %}
        <ul class="link-list">
            <li class="link-item">
                <a class="button" href="https://app.milknotes.com/calendar/?id=1614">Book appointment</a>
            </li>
        </ul>
    </nav>
</header>