<header class="header">
    <a class="logo" href="/" aria-label="Bellflower Lactation">
        <img
            src="\assets\images\bellflower_logo_400w.png"
            alt="Bellflower Lactation"
            srcset="assets\images\bellflower_logo_600w.png 600w,
                    assets\images\bellflower_logo_800w.png 800w">
    </a>
    <nav class="nav u-bdt:1" aria-label="main">
        <ul class="nav-list">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
            <li class="nav-item"><a href="/services">Services</a></li>
            <li class="nav-item"><a href="/policies">Policies</a></li>
            <li class="nav-item u-fg:1 u-ta:r"><a href="https://bellflower.intakeq.com/booking">Book now</a></li>
        </ul>
    </nav>
</header>