<header class="header u-g:12">
    <div class="u-ctr u-gc:1/13">
        <a class="logo" href="/" aria-label="Bellflower Lactation">
            <img
                alt="Bellflower Lactation"
                width="800"
                height="215"
                src="/assets/images/bellflower_logo_800w.png"
                srcset="/assets/images/bellflower_logo_1200w.png 1200w,
                        /assets/images/bellflower_logo_1600w.png 1600w">
        </a>
    </div>
    <nav class="nav" aria-label="main">
        {% include snippets/nav-list.html %}
        <ul class="link-list">
            <li class="link-item">
                <a class="button" href="https://app.milknotes.com/calendar/?id=1614">Book appointment</a>
            </li>
        </ul>
    </nav>
</header>